.hero {
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-top: 4em;
}

.blurry_background {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(120, 120, 120, 0.4);
  filter: blur(212px);
  position: absolute;
  top: -8em;
  left: -5em;
  z-index: -999;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container_one .wrapper {
  position: relative;
  outline: 10px solid #2d2d2f;

  width: 400px;
  height: 550px;
  border-radius: 14px;
  overflow: hidden;
}

.container_one .wrapper .options {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2em;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow-x: scroll;
  padding: 5px 2em;
}

.container_one .wrapper .options img {
  cursor: pointer;
}

.container_one .wrapper .options::-webkit-scrollbar {
  display: none;
}

.container_two {
  max-width: 500px;
}

.container_two h2 {
  font-size: 3.5em;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1.2;
  font-family: "Sora";
}

.container_two .details {
  margin-top: 1.5em;
  color: #969696;
  font-size: 14px;
}

.container_two .search_params form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  border-radius: 12px;
  margin-top: 3em;
}

.search_params form .box1 {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 5px;
  width: 40%;
}

.icon_outline {
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(151, 151, 151, 0.845);
}

.search_params form .box1 .icon {
  font-size: 18px;
}

.search_params form .box1 .categories {
  max-width: 120px;
  position: relative;
}

.categories p {
  color: #2f2f30;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.data_loc {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -1em;
  margin-top: 3.5em;
  background-color: white;
  color: black;
  width: 130px;
  height: 50vh;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  overflow-y: auto;
}

.data_items {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.data_items_2 {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.search_params form .box1 .selected {
  margin-top: 5px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.search {
  padding: 7px 20px;
  background: #1fab71;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  width: 25%;
  text-align: center;
  margin-left: 10px;
}

.mobile_rating {
  display: none;
}

@media screen and (max-width: 600px) {
  .hero {
    position: relative;
    max-width: 90%;
    margin: auto;
    margin-top: 4em;
  }

  .blurry_background {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(120, 120, 120, 0.4);
    filter: blur(212px);
    position: absolute;
    top: -4em;
    left: -3em;
    z-index: -999;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;
  }

  .container_one .wrapper {
    position: relative;
    outline: 8px solid #2d2d2f;
    width: 90vw;
    height: 500px;
    border-radius: 14px;
    overflow: hidden;
  }

  .container_one .wrapper .options {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 2em;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    overflow-x: scroll;
    padding: 5px 2em;
  }

  .container_one .wrapper .options img {
    cursor: pointer;
  }

  .container_one .wrapper .options::-webkit-scrollbar {
    display: none;
  }

  .container_two {
    max-width: 90vw;
  }

  .container_two h2 {
    font-size: 2.6em;
    font-weight: 700;
  }

  .container_two p {
    margin-top: 1em;
    color: #969696;
    font-size: 17px;
  }

  .container_two .search_params form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8em;
    padding: 1em 20px;
  }

  .search_params form .box1 {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px;
    width: 100%;
  }

  .icon_outline {
    border-radius: 50%;
    padding: 8px;
  }

  .search_params form .box1 .icon {
    font-size: 25px;
  }

  .search_params form .box1 .categories {
    margin-top: -15px;
    width: 100%;
  }

  .search_params form .box1 .selected {
    margin-top: 5px;
    color: rgb(37, 37, 37);
    font-weight: medium;
    font-size: 16px;
  }

  .data_loc {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -3.5em;
    margin-top: 4.2em;
    color: black;
    width: 50vw;
    height: 50vh;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow-y: auto;
    z-index: 2;
  }

  .data_items {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .data_items_2 {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .search {
    text-align: center;
    padding: 12px 0;
    width: 100%;
    background: #1fab71;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
    margin-left: 0;
  }

  .desktop_rating {
    display: none;
  }

  .mobile_rating {
    display: block;
  }
}
