.navbar {
  max-width: 85%;
  margin: auto;
  padding: 10px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .logo.main {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link,
.link2 {
  display: flex;
  align-items: center;
}

.link a,
.link2 a {
  margin-right: 3em;
  font-size: 15px;
  font-weight: 200;
  color: rgb(221, 221, 221);
  position: relative;
}

.link a.active,
.link2 a.active {
  color: white;
  font-weight: 600;
}

.link a::after,
.link2 a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  margin-bottom: -8px;
  left: 0;
  transition: 0.3s all;
}

.link a.active::after,
.link2 a.active::after {
  content: "";
  height: 2px;
  width: 3.5em;
  position: absolute;
  bottom: 0;
  margin-bottom: -8px;
  left: 0;
  background-color: #1fab71;
}

.link a.active:nth-child(1):after {
  content: "";
  height: 2px;
  width: 3.3em;
}

.link a.active:nth-child(2):after {
  content: "";
  height: 2px;
  width: 3.6em;
}

.link a.active:nth-child(3):after {
  content: "";
  height: 2px;
  width: 3.1em;
}

.link2 a.active:nth-child(1):after {
  content: "";
  height: 2px;
  width: 4.3em;
}

.link2 a.active:nth-child(2):after {
  content: "";
  height: 2px;
  width: 3.8em;
}
.link2 a.active:nth-child(3):after {
  content: "";
  height: 2px;
  width: 3.8em;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a p {
  margin-left: 3px;
  font-size: 18px;
  font-weight: bold;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    max-width: 90%;
    margin: auto;
    padding: 10px 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper .logo.main {
    display: flex;
    align-items: center;
  }

  .wrapper .logo.main p {
    font-size: 25px;
  }

  .container {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .container.active {
    padding: 10% 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 1.7em;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    border: none;
    z-index: 999;
  }

  .container.active .link,
  .container.active .link2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3em;
  }

  .container .logo a {
    display: none;
  }

  .container.active .link a,
  .container.active .link2 a {
    font-size: 25px;
    font-weight: bold;
    color: black !important;
    position: relative;
  }

  .hamburger {
    display: block;
    font-size: 22px;
  }

 
}
