.loading {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  backdrop-filter: blur(10px);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading div {
  height: 100px;
  width: 100px;
  border: 5px solid #1fab71;
  border-left: none;
  animation: rotate infinite 2s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
