* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #161617;
  color: white;
  font-family: "Opensans";
}

body::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  src: local("OpenSans"),
    url("../src/Fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: local("OpenSans"),
    url("../src/Fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 100;
  src: local("OpenSans"),
    url("../src/Fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 900;
  src: local("OpenSans"),
    url("../src/Fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Sora";
  font-weight: 900;
  src: local("Sora"),
    url("../src/Fonts/Sora/static/Sora-ExtraBold.ttf");
}
